<ng-container *ngIf="model$ | async; let model">

  <div class="grid-container">

    <div></div>
    <div style="display: flex; flex-direction: column; margin-left: auto; margin-right: auto; width: 140px;">
      <h1 style="text-align: center;">{{(playerIndexNameMap$ | async)[((playerIndex$ | async) + 2) % 4] || 'No kei Mitschpiler'}}</h1>
      <ng-container *ngIf="(playedCards$ | async)[((playerIndex$ | async) + 2) % 4] else blank">
        <img class="card" src="/assets/karten/{{(playedCards$ | async)[((playerIndex$ | async) + 2) % 4]}}.jpg" alt="">
      </ng-container>
    </div>
    <div></div>

    <div style="display: flex; flex-direction: column; margin-left: auto; width: 140px;">
      <h1>{{(playerIndexNameMap$ | async)[((playerIndex$ | async) + 1) % 4] || 'No kei Gägner'}}</h1>
      <ng-container *ngIf="(playedCards$ | async)[((playerIndex$ | async) + 1) % 4] else blank">
        <img class="card" src="/assets/karten/{{(playedCards$ | async)[((playerIndex$ | async) + 1) % 4]}}.jpg" alt="">
      </ng-container>
    </div>
    <div></div>
    <div style="display: flex; flex-direction: column; margin-right: auto; width: 140px;">
      <h1>{{(playerIndexNameMap$ | async)[((playerIndex$ | async) + 3) % 4] || 'No kei Gägner'}}</h1>
      <ng-container *ngIf="(playedCards$ | async)[((playerIndex$ | async) + 3) % 4] else blank">
        <img class="card" src="/assets/karten/{{(playedCards$ | async)[((playerIndex$ | async) + 3) % 4]}}.jpg" alt="">
      </ng-container>
    </div>

    <div></div>
    <div style="display: flex; flex-direction: column; margin-left: auto; margin-right: auto; width: 140px;">
      <h1 style="text-align: center;">Ig</h1>
      <ng-container *ngIf="(playedCards$ | async)[(playerIndex$ | async)] else blank">
        <img *ngIf="(playedCards$ | async)[(playerIndex$ | async)]" class="card" src="/assets/karten/{{(playedCards$ | async)[(playerIndex$ | async)]}}.jpg" alt="">
      </ng-container>
    </div>
    <div></div>

  </div>

  <div class="card-row" *ngIf="cards$ | async, let cards">
    <div class="card-column" *ngFor="let card of cards">
      <img class="card" src="/assets/karten/{{card}}.jpg" (click)="playCardClicked$.emit(card)" alt="">
    </div>
  </div>

</ng-container>

<ng-template #blank>
  <img class="card" src="assets/karten/backcover.jpg" alt="">
</ng-template>

{{ model$ | async | json }}
{{ playerIndexNameMap$ | async | json }}
{{ (playedCards$ | async)[(playerIndex$ | async)] }}

player0: {{ (playedCards$ | async)[0] }}
player1: {{ (playedCards$ | async)[1] }}
player2: {{ (playedCards$ | async)[2] }}
player3: {{ (playedCards$ | async)[3] }}
