<ng-container *ngIf="model$ | async; let model">

  <div class="grid-container">

    <div></div>
    <div style="display: flex; flex-direction: column; margin-left: auto; margin-right: auto; width: 140px;">
      <h1 style="text-align: center;">{{(playerIndexNameMap$ | async)[((playerIndex$ | async) + 2) % 4] || 'No kei Mitschpiler'}}</h1>
      <img class="card" src="assets/karten/backcover.jpg" alt="">
    </div>
    <div></div>

    <div style="display: flex; flex-direction: column; margin-left: auto; width: 140px;">
      <h1>{{(playerIndexNameMap$ | async)[((playerIndex$ | async) + 1) % 4] || 'No kei Gägner'}}</h1>
      <img class="card" src="assets/karten/backcover.jpg" alt="">
    </div>
    <div></div>
    <div style="display: flex; flex-direction: column; margin-right: auto; width: 140px;">
      <h1>{{(playerIndexNameMap$ | async)[((playerIndex$ | async) + 3) % 4] || 'No kei Gägner'}}</h1>
      <img class="card" src="assets/karten/backcover.jpg" alt="">
    </div>

    <div></div>
    <div style="display: flex; flex-direction: column; margin-left: auto; margin-right: auto; width: 140px;">
      <h1 style="text-align: center;">Ig</h1>
      <img class="card" src="assets/karten/backcover.jpg" alt="">
    </div>
    <div></div>

  </div>

  <div class="card-row" *ngIf="cards$ | async, let cards">
    <div class="card-column" *ngFor="let card of cards">
      <img class="card" src="/assets/karten/{{card}}.jpg" (click)="playCardClicked$.emit(card)" alt="">
    </div>
  </div>

</ng-container>

{{ model$ | async | json }}
{{ playerIndexNameMap$ | async | json }}
{{ playedCardsMap$ | async | json }}
